<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>{{ index }}</h1>

            <div>
                <p>
                    <a class="btn btn-lg" href="/blog">Blog</a>
                </p>
                <p>
                    <a class="btn btn-lg" href="/polls">Polls</a>
                </p>
            </div>

        </div>
    </div>
</div>

</body>
</html>